.react-words{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	perspective:600px;
	-webkit-perspective:600px;
	-moz-perspective:600px;
	-ms-perspective:600px;
	-o-perspective:600px;
}
.react-words>i{
	display: inline;
	transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz--transform-style: preserve-3d;
    -ms--transform-style: preserve-3d;
    -o--transform-style: preserve-3d;
}
.react-words.show>i{
	opacity: 1 !important;
	transform: none !important;
	text-shadow: none !important;
	-webkit-fliter: none !important;
	filter: none !important;
}